{
    "presets": ["next/babel"], // next babel default config 
    "plugins": [
        [
            "import",
            {
                "libraryName": "antd"
            }
        ],
        [
            "styled-components", { "ssr": true }
        ]
    ]
}